li > .li-parent {
}

li > .li-child {
}

input > .input-dirty-parent {
}

input > .input-dirty-child {
}

input > .input-assigned-child {
}
input > .user-admin-approved {
    
}

.not-approved {
    background: red;
    color: #ffffff;
    border: 1px solid red;
}
