
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="users" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            UserName
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            BirthDate
        </th>
        <th>
            Role
        </th>
        <th>
           Apply
        </th>
    </tr>
    </thead>
    <tbody></tbody>

</table>


<button type="button" class="form-control" style="width: 220px" id="filterBtn">All Users</button>


<script>
    $(document).ready(function() {

        var pendingOnly = true;


        var roles = [];
        var users = [];


        $.ajax({
            url: '@Url.Action("Roles", "api")',
            method: "GET"
        }).done(function(data) {
            roles = data;
        });




        var table = $("#users").DataTable({
            ajax: {
                data:function() {
                    $('#users').DataTable().ajax.url(
                        '@Url.Action("ApplicationUsers", "api")?pendingAuthorization=' + pendingOnly
                    );
                },
                    method: "Post",

                    dataSrc: function(data) {
                        users = [];
                        for (var i = 0; i < data.length; i++) {
                            users.push({
                                Id: data[i].Id,
                                UserName: data[i].UserName,
                                FirstName: data[i].FirstName,
                                LastName: data[i].LastName,
                                BirthDate: data[i].BirthDate,
                                ClaimedRoleId: data[i].ClaimedRoleId,
                                OldClaimedRoleId: data[i].ClaimedRoleId,
                                IsDirty: false

                            });
                        }
                        return users;
                    }
                   },
            dataSrc:users,
            columns: [{
                data: "UserName"

            },{
                data: "FirstName"

                },
                {
                    data: "LastName"
                },
                {
                    data: "BirthDate"
                },
                {
                    data: "ClaimedRoleId",

                    render: function (data, type, user) {
                        var $select = $("<select></select>",
                        {
                            "id": 'roleEditor_' + user.Id,
                            "value": user.ClaimedRoleId
                    });
                        $.each(roles, function (k, v) {
                            var $option = $("<option></option>", {
                                "text": v.Name,
                                "value": v.Id
                            });
                            if (data === v.Id) {
                                $option.attr("selected", "selected");
                            }
                            $select.append($option);

                        });
                        return $select.prop("outerHTML");
                    }
                },
                {
                    data: "Id",
                    render: function (data) {
                        return "<button class=\"btn usr-update\" disabled data-user-id=" + data + ">Apply</button>";
                    }
                }

                ]
    });

        $("#users").on("change", "select", function (e) {
            var selector = this;
            var userId = selector.id.replace("roleEditor_", "");
            var user = $.grep(users, function (e) { return e.Id === userId; })[0];
            user.ClaimedRoleId = this.value;
            if (user.ClaimedRoleId != user.OldClaimedRoleId) {
                user.IsDirty = true;
                $(selector).parents("tr")[0].querySelector(".usr-update").disabled = false;
            } else {
                user.IsDirty = false;
                $(selector).parents("tr")[0].querySelector(".usr-update").disabled = true;

            }


        });

           $("#filterBtn").click(function (e) {
               if (e.target.textContent === "All Users") {
                   e.target.textContent = "Pending Authorization Users";
                   pendingOnly = false;
               } else {
                   e.target.textContent = "All Users";
                   pendingOnly = true;
               }
               table.ajax.reload();
           });

           $("#users").on("click", ".usr-update", function() {
            var button = $(this);
            var userId = button.attr("data-user-id");
            var user = $.grep(users, function (e) { return e.Id === userId; })[0];
             $.ajax({
                    url: '@Url.Action("ApplicationUsers", "api")',
                    method: "PUT",
                    data: {
                        Id: user.Id,
                        AppliedRoleId: user.ClaimedRoleId
                    },
                    statusCode: {
                        500: function (xhr) {
                          
                        },
                        400: function (xhr) {
                          
                        },
                        200: function (xhr) {
                           
                        }
                    }
             }).done(function (data) {
                 
                     button[0].disabled = true;
                 });
            });

    });

    </script>