
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<table id="users" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>
            UserName
        </th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            BirthDate
        </th>
        <th>
            Role
        </th>
    </tr>
    </thead>
    <tbody></tbody>

</table>

<button type="button" class="form-control" style="width: 220px" id="filterBtn">All Users</button>

<script>
    $(document).ready(function () {

        var pendingOnly = true;



        var roles = [];

        $.ajax({
            url: '@Url.Action("Roles", "api")',
            method: "GET"
        }).done(function(data) {
            roles = data;
        });


        var table = $("#users").DataTable({
            ajax: {
                data: function() {
                    $('#users').DataTable().ajax.url(
                        '@Url.Action("ApplicationUsers", "api")?pendingAuthorization=' + pendingOnly
                       );
                    },
                    method: "Post",

                   dataSrc:""
                   },
              
            columns: [{
                data: "UserName"

            },{
                data: "FirstName"

                },
                {
                    data: "LastName"
                },
                {
                    data: "BirthDate"
                },
                {
                    data: "ClaimedRoleId",

                    render: function (data, type, role) {
                        var $select = $("<select></select>", {
                            "id": 'roleEditor'+data.Id,
                            "value": role.ClaimedRoleId
                        });
                        $.each(roles, function (k, v) {
                            var $option = $("<option></option>", {
                                "text": v.Name,
                                "value": v.Id
                            });
                            if (data === v) {
                                $option.attr("selected", "selected");
                            }
                            $select.append($option);
                        });
                        return $select.prop("outerHTML");
                    }
                }
                ]
    });


           $("#filterBtn").click(function (e) {
               if (e.target.textContent === "All Users") {
                   e.target.textContent = "Pending Authorization Users";
                   pendingOnly = false;
               } else {
                   e.target.textContent = "All Users";
                   pendingOnly = true;
               }
               table.ajax.reload();
           });



    });

    </script>