

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .href-class {
        font-size: x-large;
    }
     
</style>
<div id="divCreateNew">
    <h2>Customers</h2>
    

        <table id="customers" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    BirthDate
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
            </thead>
            <tbody>
            
            </tbody>

        </table>
   

    @using (Html.BeginForm("Create","Customers", FormMethod.Get))
    {
        <button type="submit" class="form-control" style="width: 170px" id="createBtn">Create</button>
    }
</div>

<script>
    $(document).ready(function () {

        var table = $("#customers").DataTable({
            ajax: {
                url: '@Url.Action("Customers","api")',
               method: "GET",
               dataSrc:""
            },
            columns: [{
                data: "FirstName"

                },
                {
                    data: "LastName"
                },
                {
                    data: "BirthDate"
                },
                {
                    render: function (data, type, customer) {
                        return "<a href='/customers/Edit/" + customer.Id + "'>Edit</a>";
                    }
                },
                    {
                    data: "Id",
                    render: function (data) {
                        return "<button class=\"btn-link js-delete\" data-customer-id="+data+">Delete</button>";
                         }
                    }
                ]
    });


        $("#customers").on("click",".js-delete",
             function () {
                 var button =$(this);
                 var id = button.attr("data-customer-id");
                 $.ajax({
                     url: '@Url.Action("customers","api")?id='+id,

                     method: "DELETE",
                     success: function () {
                         table.row(button.parents("tr")).remove().draw();

                     }
                 });
             });
    });

</script>